{{define "admin.comment.layout"}}
{{template "adminnav" .}}
{{template "admin.comment.content" .}}
{{template "footer" .}}
{{end}}
{{define "admin.comment.content"}}
<div class="align-content-center">

</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 align-content-center">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Menu Comment</h2>
    </div>
    <div class="pt-3 pb-2 mb-3">
        <a class="btn btn-primary btn-lg" href="/admin/comment/new" role="button">New Comment</a>
    </div>
    <table class="table table-striped align-content-center">
        <thead>
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
                <th scope="col">PlacedAt</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <th scope="row"> {{ .UserName }} </th>
                <td> {{ .Email}} </td>
                <td> {{ .Message }} </td>
                <td> {{ .PlacedAt }} </td>
                <td> <a href="/admin/comment/delete?id={{ .ID }}">Delete</a> </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</main>
{{end}}