{{define "admin.user.layout"}}
{{template "adminnav" .}}
{{template "admin.user.content" .}}
{{template "footer" .}}
{{end}}
{{define "admin.user.content"}}
<div class="align-content-center">

</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 align-content-center">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Menu Users</h2>
    </div>

    <table class="table table-striped align-content-center">
        <thead>
            <tr>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Delivery Address</th>
                <th scope="col">Account</th>

                <th scope="col">Image</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <td> {{ .FirstName }} </td>
                <td> {{ .LastName }} </td>
                <td> {{ .Username }} </td>
                <td> {{ .Email}} </td>
                <td> {{ .Phone }} </td>
                <td> {{ .DeliveryAddress}} </td>
                <td> {{ .Account }} </td>
                <td> <img src="/assets/img/{{ .ImagePath }}" width="70rem" height="70rem" /> </td>
                <td> <a href="/admin/users/delete?username={{ .Username}}">Delete</a> </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</main>
{{end}}