{{define "company.material.layout"}}
{{template "companynav" .}}
{{template "company.material.content" .}}
{{template "footer" .}}
{{end}}
{{define "company.material.content"}}
<div class="align-content-center">

</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 align-content-center">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Menu material</h2>
    </div>
    <div class="pt-3 pb-2 mb-3">
        {{ if .Activated }}<a class="btn blue-grey darken-3" href="/company/material/new" role="button">Add Material</a>{{end}}
        
    </div>

    <br>
    <br>
    <br>
    <div class="row">
        {{ range .Materials }}
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="/assets/img/{{ .ImagePath }}" width="12px">
                    <span class="card-title black-text">{{ .Name }}</span>
                    <a href="/company/material/update?id={{ .ID }}"
                        class="btn-floating halfway-fab waves-effect waves-light blue-grey darken-3"><i
                            class="material-icons">edit</i></a>
                </div>
                <div class="card-content">
                    <br>
                    <p>Name :{{ .Name }}</p>
                    <br>
                    <p>Price :{{ .PricePerDay }}</p>
                </div>
                <a href="/company/material/delete?id={{ .ID }}"><i class="material-icons right-align">delete</i></a>
            </div>

        </div>
        {{end}}
    </div>
    {{end}}