{{ define "company.material.update.layout" }}
{{ template "companynav" . }}
{{ template "company.material.update.content" . }}
{{ template "footer" . }}
{{ end }}

{{ define "company.material.update.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Update Menu Material</h2>
    </div>
    <form method="POST" action="/company/material/update" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ .ID }}" />
        <input type="hidden" name="id" value="{{ .Owner }}" />
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Material Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="firstname" placeholder="Material Name"
                    value="{{ if .Name }}{{ .Name }}{{ end }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Price Per Day</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="priceperday" id="lastname" placeholder="Price Per Day"
                    value="{{ if .PricePerDay }}{{ .PricePerDay }}{{ end }}" required>
            </div>
        </div>
        <div class="clearfix input-field">
                <p> <label>
                    <input type="radio" name="discountStatus" value="true" >
                    <span>On Discount</span>
                </label>
            </p>
            <p> <label>
                    <input type="radio" name="discountStatus" value="false" checked>
                    <span>Not On Discount</span>
                </label>
            </p>
                
            </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Discount</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="discount" placeholder="Discount"
                    value="{{ if .OnDiscount }}{{ .Discount }}{{else}}{{0}}{{ end }}">
                    <input type="hidden" class="form-control" name="ID" placeholder="Discount"
                    value="{{ .ID }}">
            </div>
        </div>
        <div class="clearfix input-field">
                <p> <label>
                    <input type="radio" name="sellStatus" value="true" >
                    <span>On Sale</span>
                </label>
            </p>
            <p> <label>
                    <input type="radio" name="sellStatus" value="false" checked>
                    <span>Not on Sale</span>
                </label>
            </p>
                
            </div>
        <div class="col-sm-10">
            <img src="/assets/img/{{ .ImagePath }}" width="80px" height="80px" />
        </div>
        <div class="form-group">
            <label for="catimg" class="col-sm-2 col-form-label">Upload New Image</label>
            <div class="col-sm-10">
                <input type="file" class="form-control-file" name="catimg" id="catimg" value="{{ if .ImagePath }}{{ .ImagePath }}{{ end }}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary float-right">Done</button>
            </div>
        </div>
    </form>
</main>
{{ end }}