{{define "footer"}}
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<script>
    //sidenav
    const sidenav = document.querySelector('.sidenav');
    M.Sidenav.init(sidenav, {});
    //slider
    const slider = document.querySelector('.slider');
    M.Slider.init(slider, {
        indicators: false,
        height: 400,
        transition: 500,
        interval: 6000,

    });
    //autocomplet
    const ac = document.querySelector('.autocomplete-content');
    M.autocomplete - content.init(ac, {
        data: {
            "Sherato-Addis-Hotel-Addis-Ababa": null,
            "Hilton-Hotel-Addis-Ababa": null,
            "Caplital-International-Hotel-Addis-Ababa": null,
            "Jupiter-International-Addis-Ababa": null,
            "Pyramid-Hotel-Bishoftu": null,
            "Haile-Resorte-Hawasa": null,
        }
    });
</script>
</body>

</html>
{{end}}