{{define "footer"}}
</div>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script>
    //sidenav
    const sidenav = document.querySelector('.sidenav');
    M.Sidenav.init(sidenav, {});
    //slider
    const slider = document.querySelector('.slider');
    M.Slider.init(slider, {
        indicators: false,
        height: 400,
        transition: 500,
        interval: 6000,

    });
    //pop-up
    const login = document.querySelectorAll(".modal");
    M.Modal.init(login, {
        opacity: 0.5,
        dismissible: false
    });


    document.querySelector("#content").style.display = "none";
    document.querySelector("#flayer").classList.add("progress");
    document.querySelector("#slayer").classList.add("indeterminate");

    setTimeout(function () {
        document.querySelector("#flayer").classList.remove("progress");
        document.querySelector("#slayer").classList.remove("indeterminate");
        document.querySelector("#content").style.display = "block";
    }, 500)
</script>
</body>

</html>
{{end}}