{{define "navbar"}}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection" />

    <link rel="stylesheet" href="/assets/css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>

<body id="Home" class="scrollspy">
    <!--nav bar-->
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Ethio-Tools</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">

                        <li><a href="#Galary">Galary</a></li>
                        <li><a href="#Contact">Contact Us</a></li>
                        <li class="right"><a class="modal-trigger" href="#login" class="">Sign In</a></li>
                        <!-- <p class="right">Already have an account? <a href="#login"
                            class="modal-trigger">login</a></p> -->
                        <!-- <li><a href="/users/signin" class="">Sign Up</a></li> -->

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul class="sidenav yellow lighten-4" id="mobile-nav">

        <li><a href="#Galary">Galary</a></li>
        <li><a href="#Contact">Contact Us</a></li>
        <li><a href="/users/signup">Sign in</a></li>
    </ul>
    <div class="modal modal-fixed-footer" id="login">
            <form action="/users/login" method="POST">
                <div class="modal-conent">
                    <div class="container">
                        <h2 class="center"><i class="material-icons center large red-text">person</i>Login</h2>
    
                        <div class="row">
    
                            <div class="col m12 s12">
                                <div class="input-field">
                                    <i class="material-icons prefix">person</i>
                                    <input type="text" name="username">
                                    <label>Username</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix">lock</i>
                                    <input type="password" name="pass1">
                                    <label>Password</label>
                                </div>
                                <!-- <p>
                                    <label>
                                        <input type="checkbox">
                                        <span>Remember me</span>
                                    </label>
                                </p> -->
  
                                <label>
                                        <input name="yourchoice" type="radio" checked />
                                        <span>User</span>
                                      </label>
                               
                                  
                                      <label>
                                        <input name="yourchoice" type="radio" />
                                        <span>Provider</span>
                                      </label>
                                    
                                    
                                        
                                      
                            </div>
                            <div class="right">
                                <input type="submit" name="submit" value="login" class="btn pulse grey darken-4">
                                <input type="button" value="close" class="btn modal-close red darken-2">
    
                            </div>
    
                            <div>
                                <p class="left">Are you New? <a href="/users/signup" class="modal-trigger">Register</a></p>
    
                            </div>
    
    
                        </div>
                    </div><!-- end of modal container -->
                </div>
    
        </div>
        </form>
        </div>
    
    
        <script src="/assets/js/materialize.min.js"></script>
        <script>
            //sidenav
            const sidenav = document.querySelector('.sidenav');
            M.Sidenav.init(sidenav, {});
            //slider
            const slider = document.querySelector('.slider');
            M.Slider.init(slider, {
                indicators: false,
                height: 400,
                transition: 500,
                interval: 6000,
    
            });
            const login = document.querySelectorAll(".modal");
            M.Modal.init(login, {
                opacity: 0.5,
                dismissible: false
            });
    
            document.querySelector("#content").style.display = "none";
            document.querySelector("#flayer").classList.add("progress");
            document.querySelector("#slayer").classList.add("indeterminate");
    
            setTimeout(function () {
                document.querySelector("#flayer").classList.remove("progress");
                document.querySelector("#slayer").classList.remove("indeterminate");
                document.querySelector("#content").style.display = "block";
            }, 500)
        </script>
    {{end}}